html {
    font-family: Arial, sans-serif;
}

    div#page {
        width: 90%;
        height: 95%;
        margin: auto;
        padding: 10px;
    }

        div#banner {
            margin-bottom: 2%;
            margin-top: 1%;
            display: inline-block;
            height: 10%;
        }

        div#loginbanner {
            margin-bottom: 2%;
            margin-top: 10%;
            text-align: center;
            display: inline-block
            height: 10%;
        }

            #logo {
                vertical-align: middle;
                height: 90px;
            }

            h1 {
                font-weight: normal;
                font-size: 45;
                top: 20px;
                left: 18px;
                position: relative;
                display: inline; 
            }

        div#timetable {
            margin-left: 1%;
            width: 73%;
            height: 86%;
            float: right;
        }

        div#login {
            margin: auto;
            width: 35%;
        }
            
            input[type=text] {
                margin: auto;
                width: 100%;
                padding-left: 1%;
                font-size: 18;
            }
            input[type=password] {
                margin: auto;
                width: 100%;
                padding-left: 1%;
                font-size: 18;
            }

            button {
                background-color: #e42a20;
                color: white;
                padding: 14px 20px;
                border: none;
                width: 100%;
            }

            button:hover {
                opacity: 0.8;
            }

        div#preferences {
            width: 25%;
            height: 78%;
            float: left;
        }